<form action="/signup" method="POST">
    Username:
    <input type="text" name="username" placeholder="enter username">
    Password:
    <input type="password" name="password" placeholder="enter password">
    <button type="submit">Register</button>
    {{#if error}}
        <p style="color:red;">{{error}}</p>
    {{/if}}
</form>